.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #868686;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor_clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color:  #868686;
}