.player-grid {
    padding: 0;
    margin: 0;
    top: 10%;
    list-style: none;
    display: grid;
    color: #fff;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
  }

.player {
  aspect-ratio: 1 / 1;
  margin: auto;
  max-width: 50%;
  max-height: 50%;
  min-width: 50%;
  min-height: 50%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(31, 216, 6, 0.75);
  background-color: rgba(124, 255, 107, 0.75);
  box-shadow: -5px -5px 9px rgba(35, 150, 0, 0.45), 5px 5px 9px rgba(27, 87, 0, 0.3);
  z-index: 2;
  animation: pulsate 1s ease-in-out infinite alternate;     
}

.player_shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.player_lights {
  animation:  move 4s ease-in-out 0s infinite;
}

@keyframes move {
  25%{
    transform: scale(10) rotate(45deg);
    opacity: 0.33;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes pulsate {
  100% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  90% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  80% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  70% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  60% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  50% {
    background-color:
      rgba(179, 179, 179, 0.3);
  }
  40% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  30% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  20% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  10% {
    background-color:
      rgba(124, 255, 107, 0.3);
  }
  0% {
    background-color:
      rgba(179, 179, 179, 0.3);
  }
}